:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Lucida Console", Monaco, monospace;
}

.main {
  margin: 20px;
}

.game {
  padding: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.grid-container {
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: fit-content;
  margin: 0 auto;
}

.cell {
  min-width: 20px;
  min-height: 20px;
  background-color: grey;
  border: 1px solid black;
}

.cell:hover {
  background-color: #666666 !important;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  width: 250px;
  background-color: mediumseagreen;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.button__switch {
  width: 250px;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  /*margin: 10px;*/
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.gridSizeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

form {
  margin: 10px;
}

.counter {
  margin: 10px;
}

.quantityX, .quantityY {
  margin: 10px;
  padding: 5px;
}

input {
  border: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number {
  padding: 10px 20px;
}

.ticker {
  font-size: 24px;
  text-align: center;
}

.legend {
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  text-align: center;
}

.cells {
  display: flex;
  justify-content: center;
}

.square {
  display: inline-block;
  min-width: 150px;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#s1 {
  background-color: grey;
}

#s2 {
  background-color: mediumseagreen;
}

.rules {
  height: 250px;
  display: flex;
  justify-content: space-evenly;
}

.rule {
  width: 30%;
  background-color: #333333;
  color: white;
  /*padding: 10px;*/
  margin: 10px;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.rule h3 {
  padding: 20px 15px;
}

.rule p {
  padding: 10px 25px;
  margin: 5px;
}

h3 {
  margin-top: 0;
  background-color: mediumseagreen;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: mediumseagreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px mediumseagreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
